<mat-card class="student-card" *ngIf="pokemon">
  <mat-card-header>
    <mat-card-title>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>{{pokemon.height}} dm / {{pokemon.weight}} hm</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="pokemon.sprites.back_default" [alt]="'Back of ' + pokemon.name">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pokemon Front Image
          </mat-panel-title>
        </mat-expansion-panel-header>
        <img mat-card-image [src]="pokemon.sprites.front_default" [alt]="'Front of ' + pokemon.name">
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Stats
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let stat of pokemon.stats">
          {{stat.stat.name}} : {{stat.base_stat}}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Moves
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let move of pokemon.moves">
          {{move.move.name}}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
